* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background styles */
body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #333;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

/* Board styles */
.app {
  padding: 30px;
}

.app h1 {
  margin-bottom: 30px;
}

.board {
  display: flex;
  gap: 20px;
}

/* Column styles */
.column {
  background-color: rgb(135, 255, 209);
  border-radius: 12px;
  padding: 20px;
  min-width: 250px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.columnTitle {
  color: rgb(0, 0, 0);
}

/* Task Card styles */
.task-list {
  margin: 16px 0;
}

.task-card {
  background-color: #f4f5f7;
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

.task-card p {
  font-size: 14px;
}

/* Task Card Delete Button styles */
.task-card button {
  margin-top: 8px;
  border: none;
  background-color: #000000;
  padding: 6px 10px;
  border-radius: 8px;
}